html {
    scroll-behavior: smooth;
}

#navbar {
    background-color: #000000;
}

#jumbotron {
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(./assets/images/jumbotron-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border-radius: 0;
    height: 70vh;
}

.nav-link {
    color: #fcf4f4;
}

.skills img {
    width: 7rem;
}


#projects {
    background-color: #cccbcb4d;
}

#projects .col-md {
    margin-bottom: 2em;
}

#profile-image {
    width: 8rem;
    border-radius: 60px;
}

.socials img {
    width: 3em;
}




@media only screen and (max-width: 768px) {
    .col-md {
        margin-bottom: 1em;
    }
}